.dashboard {
  background-color: #f5f6fa;
  width: 100%;
  height: 100%;
}
.dashboardHeader {
  margin-left: 70px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.backButtonAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 500px;
}
.backButtonAlign img {
  align-self: flex-start;
  max-width: 55px;
  max-height: 15px;
}
.dashboardMargin {
  margin-top: 20px;
}
.executiveDashboard {
  display: flex;
  text-align: center;
}
.executiveDashboard h4 {
  font-size: 22px;
  font-weight: bold;
  color: $purpleFont;
}
.executiveDashboard .nonbbold {
  font-weight: normal;
}
.selectDashboard {
  font-size: 14px;
  margin-right: 15px;
}
.selectDashboardPannel {
  height: 40px;
  width: 240px;
  border: none;
  margin-right: 50px;
  margin-bottom: 10px;
}
.gridDisplayContainer {
  max-width: 22px;
  max-height: 22px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.barsDisplayContainer {
  max-width: 25px;
  max-height: 22px;
  margin-bottom: 10px;
}

.dashboardBetween {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}
.headerItem {
  display: flex;
  align-items: center;
}
.headerItem img {
  max-width: 8px;
  width: 100%;
  height: 100%;
  max-height: 6px;
  margin-right: 50px;
}
.dName {
  margin-left: 160px;
}
.dCreated {
  margin-left: 180px;
}
.dWho {
  margin-left: 140px;
}
.dAction {
  margin-left: 100px;
}
.listView {
  margin-left: 70px;
}
.listViewItem {
  display: flex;
  width: 1180px;
  height: 100px;
  border: 1px #dee2ee solid;
  margin-bottom: 10px;
}

.itemSquare {
  margin-left: 34px;
  margin-top: 30px;
  width: 95px;
  height: 38px;
  border: 1px #686868 solid;
  text-align: center;
  margin-right: 30px;
}

.itemSquare h5 {
  margin-top: 10px;
  font-size: 15px;
  color: #686868;
}

.itemDescription {
  width: 208px;
  height: 37px;
}
.date h5 {
  font-size: 15px;
  color: #707070;
  margin-left: 180px;
  margin-top: 40px;
}

.ViewLogoContainer {
  max-width: 35px;
  max-height: 35px;
}
.ViewLogoContainer img {
  height: 100%;
  width: 100%;
  margin-left: 180px;
  margin-top: 30px;
}
.listUserName {
  margin-left: 180px;
  margin-top: 40px;
}
.viewDelete {
  margin-left: 120px;
  width: 20px;
  height: 20px;
  margin-top: 40px;
}
.viewEdit {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  margin-top: 40px;
}
.viewShare {
  margin-left: 20px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  margin-top: 40px;
}
.listSelected {
  border: 1px #8954ba solid;
}
.squareSelected {
  border: 1px #8954ba solid;
}
.squareSelected .purpleFont {
  color: #8954ba;
}

.purpleFont {
  color: #8954ba;
}
