.header {
  max-height: 70px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px #a5acc9 solid;
  align-items: center;
}

.logoCotainer {
  margin-left: 2%;
  margin-bottom: 10px;
  max-width: 30px;
  max-height: 30px;
}
.logoContainer img {
  width: 100%;
  height: 100%;
}
.search {
  margin-left: 64%;
  display: flex;
  flex-direction: row;
  margin-right: 3%;
}
.search input {
  max-width: 223px;
  max-height: 15px;
  border: none;
}
.searchCotainer {
  margin-right: 1.5%;
  max-width: 21px;
  max-height: 21px;
}
.headerBar {
  background-color: #a5acc9;

  height: 40px;
  width: 2px;
}
.second {
  margin-left: 40px;
}
.bellContainer {
  max-width: 1.5%;
  max-height: 1.5%;
  margin-left: 3%;
  margin-left: 3%;
}
.bellContainer img {
  width: 100%;
  height: 100%;
}
.userPicContainer {
  margin-left: 3%;
  max-width: 1.5%;
  max-height: 1.5%;
}
.userPicContainer img {
  width: 100%;
  height: 100%;
}
